@charset 'UTF-8'; /* 文字コードの指定 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

/* Base
------------------------------------------------------------*/

html {
    font-size: 62.5%;
   max-width: initial;
}

body {
    font-family: 'Noto Sans JP', '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #ffffff;
    background-color: #505050;
}

a {
    color: #ffffff;
    text-decoration: none;
}

small {
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    height: auto;
}



/* Header
------------------------------------------------------------*/
.header {
    display: flex;
}


.header-main-img {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url("../images/main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catch {
    position: absolute;
    top: 48%;
    left: 10%;
    font-family: 'Noto Serif JP', serif;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-align: left;
    color: #FF7260;
}

.mainlogo {
    padding: 1.4rem;
    padding-top : 50px;
    margin-top: 0rem;
    font-size: 2.8rem;
    font-family: 'Noto Serif JP', serif;
    line-height: 0;
    text-align: center;
    color: #FF7260;
}
.horizon-line {
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    width: 2px;
    height: calc(20% - 5rem);
    background-color: #FF7260;
}
.scroll {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    color: #FF7260;
}


/* Contents共通
------------------------------------------------------------*/

section {
    padding: 4rem 0;
}

section .container {
    width: 90%;
    margin: 0 auto;
}

section h2 {
    width: 100%;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
    color: #ffffff;
}




/*main
________________________________________________________*/

  .mainlogo {
        font-size: 3.4rem;
    }
 
    
    section h2 {
        font-size: 3.2rem;
    }
    
    .wrap{
        background-color: #ecd6c7; 
        padding : 10px;
    }
    
    .item h2 {
        font-size:25px;
        color : #505050;
        text-align : center;
    }
    
    .item-body {
       background-color:  #a39391;
       padding : 10px;
       height: 120px;
        position: relative;

    }
.flexbox{
    padding : 20px;
    margin-top : 50px;
}
.body-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding : 10px;
    box-sizing: border-box;
}
@media(max-width :768px){
.catch {
        font-size: 3.2rem;
        left : 10px;
    }
}
    

    .button-detail {
        width: 25rem;
        padding: 2rem 0;
        margin: 3rem auto;
    }
    
    .item{
        width:100%;
        margin : 30px 0;
    }
    
    
    .button-detail:hover {
        color: #ffffff;
        border: 1px  #ffffff solid;
        background: #a39391;
    }

/* Gallery
------------------------------------------------------------*/
.toroisbase{
    margin-top:40px;
    background-color:#a39391;
}
.button-detail {
    position: relative;
    display: block;
    width: 18rem;
    padding: 2rem 5%;
    margin: 2rem auto;
    font-size: 1.6rem;
    color: #000000;
    border: 1px #000000 solid;
    background: #ecd6c7;
    transition: .3s;
    text-align: center;
    border-radius:50%;
}


.thumbnail {
  display: flex;
  padding: 20px 0 20px 16px;
  margin: 0;
  list-style: none;
}
@media (min-width: 769px) {
  .thumbnail {
    padding-left: 0;
  }
}

.thumbnail li {
  width: 33.3333333333%;
  cursor: pointer;
  padding-right: 16px;
}
@media (min-width: 769px) {
  .thumbnail li:last-child {
    padding-right: 0;
  }
}


/* Footer
------------------------------------------------------------*/

footer {
    padding: 3rem 0;
    background: #FFF5C3;
    text-align: center;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}

footer p{
    color:#505050;
}


/* PC表示 768px以上
------------------------------------------------------------*/
@media (min-width: 769px) {
    .mainlogo {
        font-size: 3.4rem;
    }
    
    section .container {
        width: 68%;
        margin: 0 auto;
    }
    
    section h2 {
        font-size: 3.2rem;
    }
    
    section p{
        text-align:center;    
    }
    
    .wrap{
        background-color: #ecd6c7; 
        padding : 10px;
    }
    
    .item h2 {
        font-size:25px;
        color : #505050;
        text-align : center;
    }
    
    .item-body {
       background-color:  #a39391;
       padding : 10px;
       height: 120px;
        position: relative;

    }

.body-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding : 10px;
    box-sizing: border-box;
}

.catch {
        font-size: 3.2rem;
    }
    
    .flexbox{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top : 50px;
    }
    
    .button-detail {
        width: 25rem;
        padding: 2rem 0;
        margin: 3rem auto;
    }
    
    .item{
        width:calc(33% - 20px);
        margin: 0 10px;
    }
    
    
    .button-detail:hover {
        color: #ffffff;
        border: 1px  #ffffff solid;
        background: #a39391;
    }


 
}
